.heading {
    font-family: Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #2295ca;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
  
.link {
    display: inline-block;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    padding: 10px 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }
  
  .link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .link:hover {
    background-image: linear-gradient(to right, #2575fc 0%, #6a11cb 100%);
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  }
  
  .link:hover:before {
    transform: scaleX(1);
  }
  body {
    background: linear-gradient(to bottom, #000000, #34cc6e); /* gradient từ trên xuống dưới */
    background-size: cover; /* nén nền để phù hợp với kích thước của cửa sổ trình duyệt */
    background-attachment: fixed; /* giữ nền ở vị trí cố định khi cuộn trang */
  }
  .flex {
    display: flex;
}

.flex-both-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-h-center {
    display: flex;
    justify-content: center;
}



.mt-8 {
    margin-top: 12px;
}

.mt-16 {
    margin-top: 16px;
}
.m-auto {
    margin: auto;
}

.glow-on-hover {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
text-shadow: 2px 2px blue;

}

.glow-on-hover:before {
    content: '';

    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;

}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;

}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;

}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
div a {
    margin-right: 10px; 
    margin-top: 1.5cm;
  }
  a i {
    margin-left: 5px; /* khoảng cách giữa icon và văn bản của thẻ link */
    vertical-align: middle; /* căn giữa icon với văn bản của thẻ link */
  }
  